.support {
    background-color: #aee6a6;
    color: black;
    height: 100vh;
    width: 100vw;
    padding: 38px;
}

.selector {
    padding: 5px;
    background-color: wheat;
    width: 100%;
    margin-bottom: 10px;
    color: black;
    border: none;
    border-radius: 10px;
}

.description {
    width: 100%;
}

.textArea {
    width: 100%;
    padding: 10px;
    background-color: wheat;
    color: black;
    border: none;
    border-radius: 15px;
}

.label {
    margin-bottom: 10px;
}

.input {
    visibility: hidden;
}

.card {
    background-color: #7ca577;
    border-radius: 15px;
    box-shadow: 5px 5px 10;
    
}

.trademarkContainer {
    display: flex;
    align-items: center;
    text-align: center;
    width: fit-content;
}
.trademarkContainer span {
    color: #3d964e;
}
.support hr {
    background-color: green;
    margin: 10px 0;
}
.support h2 {
    margin: 24px 0 10px 0;
}

.submit button {
    width: fit-content;
    padding: 0.5em 1.3em;
    border: none;
    border-radius: 10px;
}