.login{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.loginForm{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.uname{
    padding: 10px;
}