.mainWrapper {
    padding: 10px;
    background: #aee6a6;
    color: black;
}

.card {
    color: black;
    background-color: aquamarine;
    text-wrap: wrap;
    /* overflow: hidden; */
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
}